@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.headerContainer {
    background-color: var(--cor-primaria);
    width: 100%;
    padding: 6px 40px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logoTextDark {
    color: #000000;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: -0.5px;
}

.logoTextBlue {
    color: #00229E;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin-right: 8px;
}


.bookIcon {
    width: 28px;
    height: 28px;
}


.nav {
    display: flex;
    align-items: center;
    gap: 28px;
}

.navLink {
    text-decoration: none;
    color: #00229E;
    font-size: 12.9px;
    font-weight: 700;
    letter-spacing: 0.5px;
    transition: opacity 0.2s ease;
}

.navLink:hover {
    color: black;
    transition: ease-in-out 0.2s;
}

.loginButton {
    background-color: #181818;
    color: #FFFFFF;
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 12.9px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.loginButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.userArea {
    display: flex;
    align-items: center;
    gap: 14px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #3b82f6;
    transition: all 0.3s ease;
    cursor: pointer;
}

.avatar:hover {
    transform: scale(1.1);
    border-color: #60a5fa;
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.5);
}

.nome {
    font-weight: 600;
    font-size: 0.95rem;
    color: #f1f5f9;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
}

.logout {
    display: flex;
    align-items: center;
    gap: 8px;

    background: #000;
    color: #fff;

    border: 2px solid #000;
    padding: 8px 16px;
    border-radius: 10px;

    font-size: 0.9rem;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.3s ease;
}

.logout:hover {
    background: #fff;
    color: #000;
    border-color: #000;
    transform: translateY(-2px);
}

.logout:active {
    transform: scale(0.95);
}

.icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    transition: 0.3s;
}