.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998;
    backdrop-filter: blur(4px);
    animation: fade 0.2s ease;
}

.modal {
    width: 400px;
    max-width: 90%;
    background: #000000;
    border-radius: 18px;
    padding: 30px;
    box-shadow:
            0 10px 30px rgba(0,0,0,0.25);
    animation: aparecer 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.modal h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #ffffff;
}

.modal p {
    color: #aaa9a9;
    margin-bottom: 25px;
    line-height: 1.5;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.cancelar {
    border: none;
    background: #e5e5e5;
    color: #111;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.cancelar:hover {
    background: #d4d4d4;
}


.confirmar {
    border: none;
    background: #dc2626;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

/* VERMELHO */
.danger {
    background-color: #dc2626;
}

.danger:hover {
    background-color: #b91c1c;
}

/* AZUL */
.primary {
    background-color: #224491;
}

.primary:hover {
    background-color: #1a3678;
}

@keyframes aparecer {

    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}